@font-face {
    font-family: "Nexa";
    src: url(fonts/Fontfabric\ -\ NexaRegularItalic.otf);
    
}
/*не работает шрифт*/
body {
    margin: 0%;
}
.head {
    
    background-color: #373737;
}
.square {
    width: 80px;
    height: 66px;
    background-color: #f26c4f;
}
.shape {
    position: relative;
    left: 14px;
    width: 78px;
    height: 66px;
    background-color: #f26c4f;
    clip-path: polygon(59% 0, 0 0, 0 100%, 68% 100%, 100% 49%);
}
.g {
    font-family: "Nexa";
    position: relative;
    font-size: 35px;
    left: 20px;
    top: 7px;
    color: #ffffff;
    
}
.good-inc {
    position: absolute;
    left: 102px;
    top: 23px;
    font-size: 18px;
    font-family: "Nexa";
    color: #ffffff;
    
}
.sub-head {
    background-color: #474747;
}
.contain-sub-head {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.nav {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial;
    color: #ffffff;
    margin: 20px;     
}

.nav:after {
    position: relative;
    top: 27px;
    background-color: #f26c4f;
    display: block;
    content: "";
    height: 4px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    
}
.nav:hover:after,
.nav:focus:after {
    width: 100%;
}
.nav:before {
    position: relative;
    right: 20px;
    content: "|";
    color: gray;
}
.slaid-3 {
    position: relative;
    width: 63%;
    margin: 0% auto;
    
}
.info-contain {
    /*почему съехало влево?*/
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.poisk {
    width: 300px;
    height: 46px;

}
.poisk::after {
    position: relative;
    bottom: 33px;
    left: 270px;
    font-family: FontAwesome;
    content: "\f017";
    /*размер*/
    font-size: 23px;
    color: #f26c4f;
}
.input {
    border: none;
    width: 300px;
    height: 46px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
    padding: 10px;
    font-family: Arial;
}
.link {
    display: flex;
}
.info-i {
    /*не работает элементы flex*/
    justify-content: space-around;
    width: 36px;
    height: 14px;
    font-size: 12px;
    font-family: Arial;
    margin: 20px;
    box-shadow: 0px 1px 0 0 #ffffff;
    color: #8f8f8f;
}
.twitter:before {
    font-family: FontAwesome;
    content: "\f099";
    
}
.facebook::before {
    font-family: FontAwesome;
    content: "\f39e"
}
.rss::before {
    font-family: FontAwesome;
    content: "\f09e"
}
.mail::before {
    font-family: FontAwesome;
    content: "\f0e0"
}
.banner {
    display: flex;
}
.banner-image {
    /*не работает картинка*/
    background-color: blue;
    background-image: url(image/Layer\ 4@2x.jpg);
    background-size: cover;
    width: 631px;
    height: 391px;
    object-fit: contain;
}
.dop {
    position: relative;
    left: 40%;
    top: 83%;
    width: 371px;
    height: 62px;
    opacity: 0.5;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #000000;
}
.dop-text {
    padding-left: 29px;
    width: 245px;
    height: 17px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.44;
    letter-spacing: -0.16px;
    text-align: left;
    color: #ffffff;
}
.banner-line {
    width: 9px;
    height: 391px;
    background-color: #f26c4f;
}
.banner-line-shape {
    position: relative;
    left: 7px;
    top: 40px;
    width: 22px;
    height: 31px;
    background-color: #f26c4f;
    clip-path: polygon(0% 0%, 0 0, 66% 46%, 0 100%, 0% 100%);
}
.banner-text {
    width: 311px;
    height: 391px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #373737;
}
.banner-text-div {
    position: relative;
    left: 46px;
    top: 42px;
    width: 222.1px;
    height: 172.8px;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: -0.19px;
    text-align: left;
    color: #ffffff;
}
.banner-text-div2 {
    position: relative;
    left: 46px;
    top: -55px;
    width: 222.1px;
    height: 207.5px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #a7a7a7;
}
.april {
    position: relative;
    left: 180px;
    bottom: 140px;
    width: 222.1px;
    height: 207.5px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #a7a7a7;
}
.april::before {
    font-family: FontAwesome;
    content: "\f017";
    width: 18px;
    height: 18px;
    color: #8f8f8f;
}
.three-divs {
    display: flex;
    justify-content: space-between;
}

.three-divs-info {
    margin-top: 15px;
    width: 300px;
    height: 379px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

}

.three-divs-img1 {
    width: 300px;
    height: 189px;
    background-image: url(image/Layer\ 6.jpg);
    background-color: blue;
}
.three-divs-img2 {
    width: 300px;
    height: 189px;
    object-fit: contain;
    background-image: url(image/Layer\ 8.jpg);
    background-color: blue;
}
.three-divs-img3 {
    width: 300px;
    height: 189px;
    object-fit: contain;
    background-image: url(image/Layer\ 7.jpg);
    background-color: blue;
}
.three-divs-h {
    padding-left: 28px;
    padding-top: 1px;
    padding-bottom: 0;
    width: 249.4px;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
}
.three-divs-hh {
    /*как лучше размещать? padding/ position*/
    padding-left: 28px;
    width: 240px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #646464;
}
.ugol {
    margin-left: 200px;
    width: 0;
	height: 0;
	border-top: 100px solid #f26c4f; 
	border-left: 100px solid transparent;


}
.plus {
    /*Не забыть*/
}
.box-family {
    display: flex;
    
    margin-top: 20px;
}
.one-box {
    width: 622px;
    height: 173px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.one-box:hover {
    box-shadow: 0px 1px 1px 0 #000000;
    background-color:  #f26c4f;
}
.names {
    padding-top: 35px;
    margin-left: 39px;
    width: 700px;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-align: left;
    color: #474747;
}
.gray {
    display: flex;
    justify-content: space-around;
}
.gray-txt {
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8f8f8f;
}
.box-info {
    margin-left: 39px;
    width: 539.7px;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.stars::before {
    margin-right: 5px;
    font-family: FontAwesome ;
    content: "\f005" "\f005" "\f005" "\f005";
    font-size: 15px;
}
.stars:hover {
    color: gold;
}
.box-line-1 {
    position: absolute;
    width: 4px;
    height: 173px;
    background-color: #f26c4f;
}
.box-line-2 {
    position: absolute;
    width: 4px;
    height: 98px;
    background-color: #f26c4f;
}
.too-box {
    margin-top: 15px;
    width: 622px;
    height: 173px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.too-box:hover {
    background-color: #f26c4f ;
}
.names-2 {
    padding-top: 13px;
    padding-left: 39px;
    width: 520.9px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-align: left;
    color: #474747;
}
.gray-2 {
    display: flex;
    justify-content: space-around;
}
.gray-text-2 {
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8f8f8f;
}
.stars-2::before {
    margin-right: 10px;
    font-family: FontAwesome ;
    content: "\f005" "\f005" "\f005";
    font-size: 15px;
}
.stars-2:hover {
    color: gold ;
}
.box-info-2 {
    margin-left: 39px;
    width: 516.1px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.three-box {
    margin-top: 15px;
    width: 622px;
    height: 98px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.three-box:hover {
    background-color: #f26c4f ;
}
.names-3 { 
    padding-top: 21px;
    padding-left: 39px;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-align: left;
    color: #474747;
}
.gray-3 {
    display:flex;
    justify-content: space-around;
}
.gray-text-3 {
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8f8f8f;
}
.four-box {
    margin-top: 15px;
    width: 622px;
    height: 98px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.four-box:hover {
    background-color: #f26c4f ;

}
.three-box:hover {
    background-color: #f26c4f ;
}
.nemes-4 {
    padding-top: 0px;
    padding-left: 39px;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-align: left;
    color: #474747;
}
.gray-text-4 {
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8f8f8f;
}
.five-box {
    margin-top: 15px;
    width: 622px;
    height: 98px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.five-box:hover {
    background-color:#f26c4f ;
}
.nemes-5 {
    padding-top: 0px;
    padding-left: 39px;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-align: left;
    color: #474747;
}
.gray-text-5 {
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8f8f8f;
}
.six-box {
    margin-top: 15px;
    width: 622px;
    height: 98px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.six-box:hover {
    background-color:#f26c4f ;
}
.seven-box {
    margin-top: 15px;
    width: 622px;
    height: 98px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.seven-box:hover {
    background-color:#f26c4f ;
}
.box-castle {
    margin-left: 20px;
    background-color: #373737;
    width: 300px;
    height: 581px;
    box-shadow: 0px 1px 0 0 #d3d3d3;
}
.castle {
    background-image: url(image/Layer\ 9.jpg);
    background-size: cover;
    width: 300px;
    height: 294px;
}
/*ПЛЮССССССССССССССССССССССССССССССССССССС*/
.plus {
    position: absolute;
    width: 14.3px;
    height: 14.3px;
    background-color: #ffffff;
}
.zag-castle {
    padding-top: 15px;
    padding-left: 28px;
    padding-bottom: 10px;
    width: 249.4px;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.info-castle {
    padding-left: 28px;
    width: 240px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.box-spolos {
    margin-top: 110px;
    margin-left: 25px;
}
.box-spolos-zag {
    padding-top: 30px;
    width: 283.9px;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: -0.19px;
    text-align: left;
    color: #474747;
}
.box-spolos-info {
    padding-top: 15px;
    width: 283.7px;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #a7a7a7;
}
.box-spolos-april {
    padding-top: 10px;
    width: 105px;
    height: 14px;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.12px;
    text-align: left;
    color: #8f8f8f;
}
.box-spolos-line {
    margin-top: 30px;
    width: 274px;
    height: 1px;
    box-shadow: 0px 1px 0 0 #ffffff;
    background-color: #000000;
}
.prolog {
    margin-top: 25px;
    width: 622px;
    height: 75px;

}
.prolog-read-more {
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    text-align: center;
    color: #bdbdbd;
}
.prolog-plus {
    margin-top: 5px;
    text-align: center;
}
.prolog-plus::before {
    font-family: FontAwesome;
    content: "\f055";
    font-size: 19px;
    color: gray;
    text-align: center;
}
.ugol:before {
    position: relative;
    left: -30px;
    bottom: 90px;
    font-family: FontAwesome;
    content: "\f067";
    font-size: 14px;
    color: white;
}
.nice-txt {
    width: 620px;
    height: 335px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.nice-txt-zag {
    padding-top: 40px;
    padding-left: 50px;
    width: 527px;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.nice-txt-info {
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 15px;
    width: 527px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.nice-txt-info2 {
    padding-left: 50px;
    width: 527px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.nice-txt-dop {
    width: 620px;
    height: 41px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #efefef;
  
}
.flex-nice-txt {
    display: flex;
    justify-content: space-between;
}
.nice-txt-april {
    padding-left: 30px;
    width: 53px;
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #a2a2a2;
}
.nice-txt-like {
    width: 53px;
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #a2a2a2;
}
.nice-txt-like::after {
    padding-left: 10px;
    font-family: FontAwesome;
    content: "\f004";
    color:rgb(182, 176, 176);
}
.box-spolos-too {
    margin-left: 25px;
}
.box-boxing {
    margin-top: 20px;
    margin-left: 25px;
}
.box-boxing-th {
    margin-top: 5px;
    width: 300px;
    height: 44px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.box-boxing-thh {
    display: flex;
    justify-content: space-around;
}
.boxx-txt {
    padding-top: 10px;
}
.box-boxing-txt {
    width: 148px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: -0.16px;
    text-align: left;
    color: #474747;
}
.box-boxing-txt2 {
    padding-top: 20px;
    width: 148px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #a7a7a7;
}
.box-boxing-line {
    width: 3px;
    height: 44px;
    background-color: #cacaca;
}
.img-castle-txt {
    margin-top: 15px;
    width: 620px;
    height: 613px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.img-castle-txt-img {
    width: 620px;
    height: 305px;
    background-image: url(image/Layer\ 9.jpg);
    background-size: cover;
}
.img-castle-txt-zag {
    padding-left: 50px;
    padding-top: 30px;
    width: 527px;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.img-castle-txt-info {
    padding-left: 50px;
    padding-top: 15px;
    width: 527px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    text-align: left;
    color: #949494;
}
.last-box {
    margin-top: 15px;
    margin-bottom: 123px;
    width: 620px;
    height: 482px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
}
.last-box-zag {
    padding-left: 50px;
    padding-top: 55px;
    width: 527px;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.last-box-gray {
    padding-left: 50px;
    padding-top: 30px;
    width: 527px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    text-align: left;
    color: #949494;
}
.footer {
    background-color: #373737;
}
.footer-info {
    display: flex;
    justify-content: space-around;
}
.footer-info-list {
    padding-top: 37px;
    width: 960px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.42;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.footer-gray {
    padding-top: 20px;
    width: 780px;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.91;
    letter-spacing: normal;
    text-align: left;
    color: #7e7e7e;
}
.footer-size {
    width: 63%;
    margin: 0% auto;
}

@media only screen and (min-width: 1650px) and (max-width: 1920px) {
    .three-divs {
        max-width: 63%;
    }
    .three-divs-info {
        margin-right: 20px;
    }
}
@media only screen and (min-width: 1520px) and (max-width: 1650px) {
    .three-divs {
        max-width: 63%;
    }
    .three-divs-info {
        margin-right: 20px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .banner-text-div {
        margin-left: -15px;
    }
    .banner-text-div2 {
        margin-left: -15px;
    }
    .april {
        margin-left: -40px;
    }
    .three-divs-info {
        width: 250px;
    }
    .three-divs-img1 {
        width:250px;
    }
    .three-divs-img2 {
        width:250px;
    }
    .three-divs-img3 {
        width:250px;
    }
    .ugol {
        margin-left: 150px;
    }
    .flex-box-2 {
        display: none;
    }
    .dop {
        display: none;
    }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
    .banner-text-div {
        margin-left: -30px;
        width: 150px;
    }
    .banner-text-div2 {
        margin-left: -30px;
        width: 150px;
    }
    .april {
        margin-top: 30px;
        margin-left: -100px;
        width: 150px;
    }
    .three-divs-info {
        width: 200px;
    }
    .three-divs-img1 {
        width:200px;
    }
    .three-divs-img2 {
        width:200px;
    }
    .three-divs-img3 {
        width:200px;
    }
    .ugol {
        margin-left: 100px;
    }
    .flex-box-2 {
        display: none;
    }
    .three-divs-h {
        width: 160px;
    }
    .three-divs-hh {
        width: 160px;
    }
    .footer-gray {
        width: 500px;
    }
    .dop {
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 961px) {
    .banner-text-div {
        margin-top: -40px;
        margin-left: -30px;
        width: 100px;
    }
    .banner-text-div2 {
        margin-top: 30px;
        margin-left: -30px;
        width: 100px;
    }
    .april {
        display:none;
    }
    .three-divs-info {
        width: 150px;
    }
    .three-divs-img1 {
        width: 150px;
    }
    .three-divs-img2 {
        width: 150px;
    }
    .three-divs-img3 {
        width: 150px;
    }
    .ugol {
        margin-left: 50px;
    }
    .flex-box-2 {
        display: none;
    }
    .three-divs-h {
        width: 140px;
    }
    .three-divs-hh {
        width: 140px;
    }
    .footer-gray {
        width: 500px;
    }
    .dop {
        display: none;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .banner-text-div {
        margin-top: -40px;
        margin-left: -30px;
        width: 100px;
    }
    .banner-text-div2 {
        margin-top: 30px;
        margin-left: -30px;
        width: 100px;
    }
    .april {
        display:none;
    }
    .flex-box-2 {
        display: none;
    }
    .three-divs-h {
        width: 140px;
    }
    .three-divs-hh {
        width: 140px;
    }
    .footer-gray {
        width: 500px;
    }
    .dop {
        display: none;
    }
    .three-divs {
        display: none;
    }
    .one-box {
        width: 370px;
        height: 230px;
    }
    .box-info {
        width: 250px
    }
    .box-line-1 {
        height: 230px;
    }
    .too-box {
        width: 370px;
        height: 230px;
    }
    .box-info-2 {
        width: 250px
    }
    .names-2 {
        width: 300px
    }
    .three-box {
        width: 370px;

    }
    .names-3 {
        padding-top: 5px;
    }
    .four-box {
        width: 370px;
    }
    .nemes-4 {
        padding-top: 5px;
        font-size: 20px;
    }
    .five-box {
        width: 370px;
    }
    .nemes-5 {
        padding-top: 5px;
        font-size: 20px;
    }
    .six-box {
        width: 370px;
    }
    .seven-box {
        width: 370px;
    }
    .input {
        width: 90px;
    }
    .poisk::after {
        display: none;
    }
    .nice-txt {
        width: 370px;
    }
    .nice-txt-zag {
        width: 300px;
        padding-top: 10px;
        font-size: 20px;
    }
    .nice-txt-info {
        width: 300px;
        padding-top: 10px;
        font-size: 12px;
    }
    .nice-txt-info2 {
        width: 300px;
        font-size: 12px;
    }
    .nice-txt-dop {
        width: 370px;
    }
    .prolog {
        width: 370px;
    }
    .img-castle-txt {
        width: 370px;
    }
    .img-castle-txt-img {
        width: 370px;
        height: 200;
        background-size: cover;
    }
    .img-castle-txt-zag {
        width: 300px;
        font-size: 20px;
    }
    .img-castle-txt-info {
        width: 300px;
        font-size: 12px ;
    }
    .last-box {
        width: 370px;
    }
    .last-box-zag {
        padding-top: 5px;
        width: 300px;
        font-size: 20px;
    }
    .last-box-gray {
        width: 300px;
        font-size: 12px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
    .banner-text-div {
        margin-top: -40px;
        margin-left: -40px;
        width: 85px;
        font-size: 12px;
    }
    .banner-text-div2 {
        margin-top: 10px;
        margin-left: -40px;
        width: 85px;
        font-size: 9px;
    }
    .info-i {
        font-size: 8px;
        width: 15px;
    }
    .april {
        display:none;
    }
    .flex-box-2 {
        display: none;
    }
    .three-divs-h {
        width: 140px;
    }
    .three-divs-hh {
        width: 140px;
    }
    .footer-gray {
        width: 250px;
    }
    .dop {
        display: none;
    }
    .three-divs {
        display: none;
    }
    .one-box {
        width: 300px;
        height: 200px;
    }
    .box-info {
        width: 230px;
        font-size: 12px;
    }
    .names {
        font-size: 14px;
    }
    .box-line-1 {
        height: 200px;
    }
    .too-box {
        width: 300px;
        height: 200px;
    }
    .box-info-2 {
        width: 230px;
        font-size: 10px;
    }
    .names-2 {
        padding-left: 10px;
        font-size: 12px;
    }
    .names-2 {
        width: 300px
    }
    .three-box {
        width: 300px;

    }
    .names-3 {
        padding-top: 5px;
        font-size: 14px;
    }
    .four-box {
        width: 300px;
    }
    .nemes-4 {
        padding-top: 5px;
        font-size: 14px;
    }
    .five-box {
        width: 300px;
    }
    .nemes-5 {
        padding-top: 5px;
        font-size: 14px;
    }
    .six-box {
        width: 300px;
    }
    .seven-box {
        width: 300px;
    }
    .input {
        width: 90px;
    }
    .poisk::after {
        display: none;
    }
    .nice-txt {
        width: 300px;
    }
    .nice-txt-zag {
        padding-left: 20px;
        width: 250px;
        padding-top: 10px;
        font-size: 14px;
    }
    .nice-txt-info {
        padding-left: 20px;
        width: 250px;
        padding-top: 10px;
        font-size: 10px;
    }
    .nice-txt-info2 {
        padding-left: 20px;
        width: 250px;
        font-size: 10px;
    }
    .nice-txt-dop {
        display: none;
    }
    .prolog {
        width: 300px;
    }
    .img-castle-txt {
        width: 300px;
    }
    .img-castle-txt-img {
        width: 300px;
        height: 180;
        background-size: cover;
    }
    .img-castle-txt-zag {
        padding-left: 10px;
        width: 250px;
        font-size: 20px;
    }
    .img-castle-txt-info {
        padding-left: 10px;
        width: 250px;
        font-size: 12px ;
    }
    .last-box {
        width: 300px;
    }
    .last-box-zag {
        padding-top: 10px;
        padding-left: 10px;
        padding-top: 5px;
        width: 250px;
        font-size: 20px;
    }
    .last-box-gray {
        padding-top: 10px;
        padding-left: 10px;
        width: 250px;
        font-size: 12px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .banner-text-div {
        margin-top: -40px;
        margin-left: -40px;
        width: 65px;
        font-size: 12px;
    }
    .banner-text-div2 {
        margin-top: 10px;
        margin-left: -40px;
        width: 65px;
        font-size: 9px;
    }
    .info-i {
        display: none;
    }
    .april {
        display:none;
    }
    .flex-box-2 {
        display: none;
    }
    .three-divs-h {
        width: 140px;
    }
    .three-divs-hh {
        width: 140px;
    }
    .footer-gray {
        width: 250px;
    }
    .dop {
        display: none;
    }
    .three-divs {
        display: none;
    }
    .one-box {
        width: 200px;
        height: 230px;
    }
    .box-info {
        margin-left: 10px;
        width: 200px;
        font-size: 10px;
    }
    .names {
        margin-left: 10px;
        font-size: 14px;
        width: 100px;
    }
    .box-line-1 {
        height: 230px;
    }
    .too-box {
        width: 200px;
        height: 230px;
    }
    .box-info-2 {
        margin-left: 10px;
        width: 200px;
        font-size: 10px;
    }
    .names-2 {
        width: 100px;
        padding-left: 10px;
        font-size: 12px;
    }
    .three-box {
        width: 200px;

    }
    .names-3 {
        padding-top: 5px;
        font-size: 14px;
    }
    .four-box {
        width: 200px;
    }
    .nemes-4 {
        padding-top: 5px;
        font-size: 14px;
    }
    .five-box {
        width: 200px;
    }
    .nemes-5 {
        padding-top: 5px;
        font-size: 14px;
    }
    .six-box {
        width: 200px;
    }
    .seven-box {
        width: 200px;
    }
    .input {
        width: 90px;
    }
    .poisk::after {
        display: none;
    }
    .nice-txt {
        width: 200px;
    }
    .nice-txt-zag {
        padding-left: 20px;
        width: 200px;
        padding-top: 10px;
        font-size: 14px;
    }
    .nice-txt-info {
        padding-left: 10px;
        width: 200px;
        padding-top: 10px;
        font-size: 10px;
    }
    .nice-txt-info2 {
        padding-left: 10px;
        width: 200px;
        font-size: 10px;
    }
    .nice-txt-dop {
        display: none;
    }
    .prolog {
        width: 200px;
    }
    .img-castle-txt {
        width: 200px;
    }
    .img-castle-txt-img {
        width: 200px;
        height: 180;
        background-size: cover;
    }
    .img-castle-txt-zag {
        padding-top: 5px;
        padding-left: 0px;
        width: 200px;
        font-size: 18px;
    }
    .img-castle-txt-info {
        padding-left: 0px;
        width: 200px;
        font-size: 9px ;
    }
    .last-box {
        width: 200px;
    }
    .last-box-zag {
        padding-top: 10px;
        padding-left: 10px;
        padding-top: 5px;
        width: 200px;
        font-size: 17px;
    }
    .last-box-gray {
        padding-top: 10px;
        padding-left: 10px;
        width: 200px;
        font-size: 9px;
    }
}




